@custom-media --sidebar-visible (min-width: 800px);
@custom-media --page-nav-visible (min-width: 1150px);

:root {
  --text-accent-colour: #fb660a;
  --admonition-default-accent: #15495d;
  --admonition-default-background: #15495d2e;
  --admonition-seealso-accent: #344c23;
  --admonition-seealso-background: #344c232e;
  --admonition-warning-accent: #4c2323;
  --admonition-warning-background: #4c23232e;
}
